services:
  api:
    build: .
    container_name: savings-api
    ports:
      - "3195:3195"
    env_file: .env
    depends_on:
      - db
    volumes: 
      - .:/app
  db:
    image: postgres:15
    container_name: savings-db
    restart: always
    env_file:
      - .env
    ports:
      - "5436:5436"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
