services:
  api:
    build: .
    container_name: savings-api
    ports:
      - "3195:3195"
    env_file: .env
    depends_on:
      - db
      - redis
    volumes: 
      - .:/app
  db:
    image: postgres:17
    container_name: savings-db
    restart: always
    env_file:
      - .env
    ports:
      - "5436:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: savings-redis
    ports:
      - "6379:6379"
    command: ["redis-server", "--appendonly", "no"]
    restart: always

volumes:
  pgdata:
