name: Deploy Backend & Infrastructure

on:
  push:
    branches: ["main"]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and Push Backend
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/savings-api:latest

      # Copy Configs (With Passphrase)
      - name: Copy Configs
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.KEY }}
          passphrase: ${{ secrets.SSH_PASSPHRASE }} # <--- ADDED
          source: "docker-compose.prod.yml,nginx/default.conf"
          target: "/app/savings"

      # Deploy (With Passphrase and Bulk Env)
      - name: Deploy
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.KEY }}
          passphrase: ${{ secrets.SSH_PASSPHRASE }} # <--- ADDED
          script: |
            cd /app/savings

            # Write the Master Secret to a .env file
            echo "${{ secrets.PROD_ENV_FILE }}" > .env

            # Pull and Start
            docker compose -f docker-compose.prod.yml pull
            docker compose -f docker-compose.prod.yml up -d --remove-orphans
